<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  
    <title>Cadastro</title>
</head>
<body>
    
    <header>
        <div class="menu">
        
            <div class="menuint">
                <div class="logo">
                    <span class="material-icons" >
                        invert_colors
                    </span>
                    <div class="texto">
                        <h6>Carr</h6>
                    </div>
                </div>
                <div class="busca">
                
                    <input type="text"  value="BUSCA por um veículo">
                
                </div>

            </div>
        
        
        </div>
    
    
    </header>

    
</body>
</html>

